<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBngn06b1AHmQOOhC0DM7Vz7m3LgaQTEug</string>
	<key>GCM_SENDER_ID</key>
	<string>689386965595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopVista</string>
	<key>PROJECT_ID</key>
	<string>flutter-e-commerce-app-51ccb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e-commerce-app-51ccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689386965595:ios:b1ceddfb3ce0ea914e8d7e</string>
</dict>
</plist>